<h1>Weight Loss Tracker</h1>

<div>

  <div>
    <h2>Add tracking</h2>
    <app-add-tracking></app-add-tracking>
  </div>

  <div>
    <button (click)="refresh()">Refresh Data</button>

    <ul>
      <li *ngFor="let tracking of trackings$ | async">
        <app-tracking [tracking]="tracking"></app-tracking>
      </li>
    </ul>
  </div>

  <div>
    <h2>Delete all</h2>
    <app-delete-all-trackings></app-delete-all-trackings>
  </div>

</div>
