<form [formGroup]="trackingForm" (ngSubmit)="onSubmit()">
  <label>
    Weight:
    <input type="number" formControlName="weight" required>
  </label>

  <label>
    Date
    <input type="date" formControlName="date" required>
  </label>

  <button type="submit" [disabled]="!trackingForm.valid">
    Add tracking
  </button>
</form>
